
@{
    ViewBag.Title = "Detaljeret vagt plan";
}

<h2>Detaljeret vagt plan</h2>

<p id="name"> Her er din vagtplan, {placeholder} </p>

<table id="kontakt personer" border="1">
    <thead>Kontakt personer</thead>
    <tr>
    <th>Job titel</th>
    <th>Fuldenavn</th>
    <th>Telelfonnummer</th>
    <th>e-mail</th>
    <th>Andre informationer</th>
    </tr>
    <tr>

    </tr>
</table>
