@model Plejehjem_Opgave_CSharp.Models.details_VP

@{
    ViewBag.Title = "Detaljeret vagtPlan";
}

<h2>Vagt plan detaljeret</h2>

<div>
    <h4>Hej test!</h4>
</div>
<div>
    <p>Kommentarer</p>
    <div id="textArea">
        <textarea rows="10" cols="50">
        This is a comment, please wait for CSS and JS and quries to make this more useable
        </textarea>
    </div>
</div>