@model Plejehjem_Opgave_CSharp.Models.details_VP

@{
    ViewBag.Title = "Detaljeret vagtPlan";
}

<h2>Vagt plan detaljeret</h2>

<div>
    <h4>Hej test!</h4>
</div>
<body>
<div>
    <p>Kommentarer</p>
    <div id="textArea">
        <textarea rows="10" cols="50" draggable="false" readonly style="resize:none">
This is a comment, please wait for CSS and JS and quries to make this more useable
        </textarea>
    </div>
    <hr/>
    <div>
        <h4><b>Kontakt personer</b></h4>
        <table border="1" style="color=#A9A9A9">
            <tr>
                <th>Job titel</th>
                <th>Fuldenavn</th>
                <th>Telefonnummer</th>
                <th>e-mail</th>
                <th>Andre informationer</th>
            </tr
            <tr>
                <td>job_Title</td>
                <td>full_Name</td>
                <td>phone_nr</td>
                <td>e-_mail</td>
                <td>other_Info</td>
            </tr> 
        </table>
    </div>
</div>
</body>