@model List<Plejehjem_Opgave_CSharp.Models.MyContacts>

@{
    ViewBag.Title ="Detaljeret vagtPlan";
}

<head><link rel="stylesheet" type="text/css" href="~/Content/details_VP_SS.css" /><link rel="stylesheet" type="text/css" href="~/Content/Site.css"/></head>
<h2>Vagt plan detaljeret</h2>

<div>
    <h1>Hej test!</h1>
</div>
<body>
<div>
    <p>Kommentarer</p>
    <div id="textArea_Comment">
        <textarea rows="10" cols="50" draggable="false" readonly style="resize:none">
This is a comment, please wait for CSS and JS and quries to make this more useable
        </textarea>
    </div>
    <hr/>
    <div>
        <h4><b>Kontakt personer</b></h4>
        <table border="1" style="background-color:#E6E6FA">
            <tr>
                <th>Job titel</th>
                <th>Fuldenavn</th>
                <th>Telefonnummer</th>
                <th>e-mail</th>
                <th>Andre informationer</th>
            </tr>
            <tr>
                <td>job_Title</td>
                <td>full_Name</td>
                <td>phone_nr</td>
                <td>e-_mail</td>
                <td>other_Info</td>
            </tr> 
        </table>
    </div>
        <div id="tabel_2">
            <h4><b>Pårørende/Andre forhold</b></h4>
            <table border="1" style="background-color:#E6E6FA">
                <tr>
                    <th>Relation</th>
                    <th>Fuldenavn</th>
                    <th>Telefonnummer</th>
                    <th>Adresse</th>
                    <th>e-mail</th>
                    <th>Andre informationer</th>
                </tr>
                <tr>
                    <td>dummy</td>
                    <td>dummy</td>
                    <td>summy</td>
                    <td>dummy</td>
                    <td>dummy</td>
                    <td>Do I need to write it again?</td>
                </tr>
            </table>
        </div>
    <div>
        <h4><b>Tidligere besøg</b></h4>
            <div>
                <table border="1" style="background-color:#E6E6FA">
                    <tr>
                        <th>Dato</th>
                        <th>Job titel</th>
                        <th>Fulde navn</th>
                        <th>Kontakt info</th>
                    </tr>
                    <tr>
                        <td>date_Time</td>
                        <td>job_Titel</td>
                        <td>full_Name</td>
                        <td>contact_Info</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        <div>
            <textarea rows="10" cols="50" draggable="false" style="resize:none" id="work_box">
Opgaver fra database
            </textarea>
            <button type="button" style="position:initial" onclick="">Rediger</button>                       
        </div>
   </div> <!-- entire div of the body, this keeps all the elements of the page together, perhaps needs to be changed at some point but for now-->
</body>