@{
    ViewBag.Title = "Home Page";
}

<style>
    * {
        margin: 0px;
        padding: 0px;
    }
    body{
        background:#e1e0e1;
    }
    .index {
        text-align: center;
        color: #000000;
        padding: 30px;
    }
    .ctable{
        padding:10px;
        background:#fff;
        margin:auto;
    }
    .ctable td{
        padding:10px;
    }
</style>

    


<table width="1000" align="center" class="ctable">
    <tr>
        <td width="50%">
            <img src="~/images/ELDER-CARE.jpg" width="100%"/>

        </td>
        <td>
            <h3>Welcome to Homecare</h3>
            <p>Homecare Albertslund offers a wide range of health care services that can be given in your home for an illness or injury. We are usually
            less expensive, more convenient, and just as effective as care you get in a hospital or skilled nursing facility.</p>
        </td>
    </tr>

</table>

<section>
    <table width="1000" align="center" class="ctable">
        <tr>
            <td width="50%">
                <h3>Here we are!</h3>
                <iframe src="https://www.google.com/maps/embed?pb" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </td>
            <td valign="top">
                <h3>Our Contact Details:</h3>
                <hr />
                <strong>Phone :</strong> +45 34728015<br />
                <strong>Email :</strong> kea@kea.com<br />
                <strong>Address :</strong> Lygten 37, 2400 kbh nv<br />


            </td>
        </tr>

    </table>
</section>