<!DOCTYPE html>
<html>

<h2>@ViewBag.Title</h2>

<head>
   
    <title>Skema</title>
</head>
<body>
    <p>Dagens Skema</p>

    <table border="1" width="100%">
        <legend>Skema</legend>
       
        <tr>
            <td>
                <table border="1" width="80%">
                    <tr>
                        <th>Mandag</th>
                        <th>Tirsdag</th>
                        <th>Onsdag</th>
                        <th>Torsdag</th>
                        <th>Fredag</th>
                    </tr>
                    <tr>
                        <td>Vagt: Besøg Kasper, kl: 11:00</td>
                        <td>Vagt: Besøg Jens,kl: 10:00</td>
                        <td>Vagt: Besøg Lars,kl: 9:00</td>
                        <td>Vagt: Besøg Ole,kl: 13:00</td>
                        <td>Vagt: Besøg Thomas, kl: 14:00</td>
                        <td>Vagt: besøg Pia, kl: 8:00</td>

                    </tr>       
                </table>
                <p><h3>Vagter som ikke er overholdt</h3></p>
                <br />
                <table>
                    <tr>
                        <th>Mandag</th>
                        <th>Tirsdag</th>
                        <th>Onsdag</th>
                        <th>Torsdag</th>
                        <th>Fredag</th>
                    </tr>
                    <tr>
                        <td>Vagt: Besøg Kasper, kl: 11:00</td>
                        <td>Vagt: Besøg Jens,kl: 10:00</td>
                        <td>Vagt: Besøg Lars,kl: 9:00</td>
                        <td>Vagt: Besøg Michael, kl: 8:00</td>
                        <td>Vagt: Besøg Ole, kl:16:00 </td>
                    </tr>

                </table>
</body>
</html>
