@model Plejehjem_Opgave_CSharp.Models.Skema
<html>

<h2>@ViewBag.Skema</h2>

<head>

    <title>Skema</title>
</head>
<body>

    <h2>Dagens Skema</h2>

    <div><b>Liste over de borgere der skal besøges </b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Mandag </th>
            <th>Tirdag </th>
            <th>Onsdag</th>
            <th>Torsdag</th>
            <th>Fredag</th>

        </tr>
</body>
</html>
